.myClass
{
    max-width: 500px;
    margin:auto;
    border-style: outset;
    position: relative;
    top: 90px
}

.myFormClass
{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.labelname
{
    float: left;
    font-size: 18px;
    font-style: italic;
    color: blue;
}

.errorMsg
{
    float: left;
    font-size: 13px;
    color: red;
}

.H3Class
{
    font-style: italic;
    color: blue;
    font-size: 35px;
}

.userProfileClass
{
    max-width: 650px;
    margin:auto;
    border-style: outset;
    font-size: 30px;
    font-style: italic;
    color: blue;
    position: relative;
    top: 110px
}